@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Roboto:ital,wght@1,100&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  
}
.navigation{
    background:#0f0f0f;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0;
    padding: 0.5rem;
}
.logo{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.youtube{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    width: 70%;
    justify-content: space-between;
}
.youtube i{
    font-size: 1.5rem;
}
.youtube h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}

.fa-brand,.fa-solid,.fa-regular{
   font-size: 1.5rem;
   text-align: center;
   
}
.search{
   
    width: 70%;
    height: 90%;
    display: flex;
   
    
    
}
.input{
    background: #303030;
    display: flex;
    height: 100%;
    width: 100%;
    margin:  0 auto; 
    border-radius: 2rem 2rem ;

}
.textsearch{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
   margin: 0 auto;
}
.input i{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_search{
    display: flex;
    background: #343434;
    width: 70%;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem 2rem;
}
.input_search input{
    border: none;
    width: 250%;
    height: 95%;
    background: #121212;
    height: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2rem 0 0 2rem ;
    
}
.input_search i{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input input::placeholder{
    font-size: 1rem;
    margin-left: 10%;
}

.mic{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background: black;
    border-radius: 3rem;
}
.info{
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-between;
}
.main-container{
    
   
    height: 100%;
    display: flex;
}
.sidebar{

    width: 15%;
    height: calc(100vh - 60px);
    background:#212121;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    background: #0f0f0f;
    padding-left: 1rem;
    position: fixed;
    left: 0;
    top: 4rem;
    bottom: 0;
    overflow: auto;
    
    box-sizing: border-box;
}
.sidebar .separator{
    color: aqua;
}
.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
.main{
    width: 100%;
    height: 80%;
}
.topsection{
    padding: 0.5rem;
    height: 2.5rem;
    width: 85%;
    top:7%;
    
    background: #0f0f0f;
    display: flex;
    justify-content: space-around;
    color: white;
    position: fixed;
    left:15%


}
.tag
{   text-align: center;
    background: #303030;
    width: 5rem;
    border-radius: 1rem;
}
.video{
    display: flex;
    flex-direction: column;
    gap:1rem
}
#videolist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    box-sizing: border-box;
    background: #0f0f0f;
    padding: 2rem;
    row-gap: 2rem;
    width: 85.9%;
    gap: 1rem;
    position: relative;
    top:15%;
    left:15%;
    z-index: -1;
}
.thumbnail{
    height: 80%;
    width: 90%;
    border-radius: 0.5rem;
}
.channel-name{
    color:white;
    cursor: pointer;
}
.title{
    color: white;
    width: 80%;
}
.content{
    
    display: flex;
    gap:1rem
}
